<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="processText()" expand="block" fill="solid" shape="round">
    {{'ocr'}}
  </ion-button>
  <ion-button (click)="processQr()" expand="block" fill="solid" shape="round">
    {{'qr'}}
  </ion-button>
  <ion-button id="open-modal" expand="block" fill="solid" shape="round">{{'camera-preview'}}</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" (didPresent)="onDidPresent($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar #modalToolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content #modalContent>
      </ion-content>
    </ng-template>
  </ion-modal>
  <p class="ion-text-center">Resultado: {{text}}</p>
</ion-content>
